{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>redeem it</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header 
  style="background-color:white">
    {% comment %} <div class="header-logo-container">
      <a href="/">
  <img id='logo'
        style="height:40px; border-radius:50%;background-color:white"
          src="{% static 'images/favicon.ico' %}" 
          alt="redeemit"
        >
        <h4
        style="flex-direction:column;"
        >Redeem it</h4>
        </a> {% endcomment %}
    </div>
    <nav
      style="background-color:white; border:0;">
      <ul>
      <form class='mx-2 my-auto d-inline w-100'>
        <input class="form-control mr-lg-2" type='search' placeholder="Search" aria-label="Search">
      </form>
      <button>enter</button>
      <ul>
           {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
           {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
      <ul>
    </div>
   </div>
</nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>