{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>redeem it - home</title>
<style>
  body{
    background: white;
    margin-top: 75px;
  }
</style>
{% endblock %}

{% block content %}

 <div class='container'>
    <div class='row'>
      <div class='col-sm-8'>
        <div class='card'>
         <div class='card-header'>
            <strong>
              <button class="btn btn-light btn-sm">
                <i class="fas fa-arrow-up"></i>
              </button>
              1k
              <button class="btn btn-light btn-sm">
                <i class="fas fa-arrow-down"></i>
              </button>
            </strong><span class="texted-muted" style='font-size:100px'>user name</span>
          </div>
          <div class="card-footer texted-muted">
            <h5 class="card-title">user</h5>
            <p class="card-text">
            random ass comment random ass comment random ass comment random ass comment
            </p>
           <a href="" class="btn btn-light btn-sm"><i class="fas fa-reply">replies</i>
          </div>
        </div>
    </div>              
          <div class='card-body'>
           <h5 class="card-title">most popular</h5>
            <p class="card-text">
            random ass comment random ass comment random ass comment random ass comment
            </p>
            <a href="createpost/" class="btn btn-primary btn-block">create post</a>

</div>
{% endblock %}