{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<div id='create post'>
<h1>create post</h1>
<a href ='posts/create'><textarea>text</textarea></a>
</div>
 <div id='createhome'>
<h1>home</h1>
<p>Your personal Reddit frontpage. Come here to check in with your favorite communities.
</p>
<button>create Post</button>
</div>
<div class="recent post">
<h1>recent post</h1>
<hr />
<p>
  recent
</div>
<section class="card-container">
  {% for post in posts %}
    <div class="card">
    {% comment %} Add this line {% endcomment %}
    <a href="{% url 'post_detail' post.id %}">
      <div class="card-content">         
        </div>
         <h2 class="card-title">{{ post.title }}</h2>
        
          <p>A {{ post.comment }} </p>
        
      </div>
    </div>
  {% endfor %}
</section>
{% endblock %}