{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light style=" style='background-color: #fff'>
  <div class='container'>
    <a class='navbar-brand' href='/'>redeem it </a>
      <button class = 'navbar-toggler' = type="button" data-toggle="collapse"             data-target="#navbarNavAltmarkup"aria-controls='navbarNavAltmarkup' aria-expnaded="false" aria-label="Toggle navigator">
        <span class='navbar-toggler-icon'></span>
      </button>
      <form class='mx-2 my-auto d-inline w-100' style='magin-left: 100px; margin-right: 100px'>
        <input class="form-control mr-sm-2" type='search' placeholder="Search" aria-label="Search">
      </form>
<div class="collapse navbar-collapse" id="navbarNavAltmarkup">
  <div class='navbar-nav ml auto'>
    <a class="nav-item btn btn-outline-primary mx-2" href="/login">Login</a>
    <a class="nav-item btn btn-outline-primary mx-2" href="/signup">Signup</a>
</div>
{% endblock %}