{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/posts-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="post-container">
  
  <div class="post-details">
    <h1>{{ post.title }}</h1>
     <h2>A {{ post.category }} </h2>
      <p>{{ post.comment }}</p>
      <div class="post-actions">
      <a href="{% url 'posts_update' post.id %}" class="btn warn">Edit</a>
      <a href="{% url 'posts_delete' post.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}